{% extends 'base.html' %}

{% block title %}Etusivu{% endblock %}

{% block content %}
	<h2>Lisää vinkki</h2>
	<form action="/add" method="POST">
		<div class="form-group" style="width: 50%;">
			<label>URL</label>
			<input type="text" class="form-control" name = "url" id="url">
		</div>
		<div class="form-group" style="width: 50%;">
			<label>Otsikko</label>
			<input type="text" class="form-control" name = "title" id="title">
		</div>
		<button type="submit" class="btn btn-primary">Lisää</button>
	</form>
</div>
<div class="content container">

	<div class="row">

		<div class="col">
			<h2>Lukuvinkit</h2>
		</div>
	{% if username %}
	<div class="col">
		<div class="form-inline justify-content-end">
			<label for="readTips" class="mr-lg-4 mb-2 mb-lg-0">
				<select class="form-control" id="readTips" onchange="refreshTips()">
					<option value="unread" selected>Lukemattomat</option>
					<option value="read">Luetut</option>
					<option value="all">Kaikki</option>
				</select>
			</label>
			<br class="d-block d-lg-none" />
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="ownTips">
				<label class="form-check-label" for="ownTips">
					Näytä vain omat vinkit
				</label>
			</div>
		</div>
	</div>
	{% endif %}
	</div>

	<div id="tipsWrapper" class="content">
	</div>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type = "text/javascript">
	const urlField = document.getElementById('url')
	urlField.addEventListener('focusout', (e) => {
		givenUrl = urlField.value
			//ajax tekee asynkronisen post-pyynnön urliin '/check', joka kutsuu
			//kerrosten kautta loppupeleissä funktiota joka tekee pyynnön
			//pyydettyyn urliin ja kattoo mitä palauttaa.
			//tällä hetkellä tulos palautetaan titlen input-kenttään
			$.ajax({
			type: "POST",
			url: "/check",
			data: givenUrl,
			success: function(response) {
				title_field=document.getElementById('title')
				if (title_field.value=="") {
					title_field.value = response
				}
			}
		})
	})
</script>		

<script type="text/javascript">
	{% if username != None %}
	let ownTipsCheckbox = document.getElementById('ownTips');
	let readTipsSelect = document.getElementById('readTips');
	{% endif %}
	let tipsWrapper = document.getElementById('tipsWrapper');

	let tips = [{% for t in tips[1:] %}{
		"id": "{{ t[0] }}",
		"title": "{{ t[1] }}",
		"url": "{{ t[2] }}",
		"own": {{ 1 if t[3] == user_id else 0}},
		"is_read": {{ 1 if t[4] == '1' else 0 }},
		"updated": "{{ t[5] }}"
	},{% endfor %}];

	let ownTips = tips.filter(t => t['own'] == 1);

	const refreshTips = () => {
		tipsWrapper.innerHTML = '';
		{% if username != None %}
		let tipsToShow = ownTipsCheckbox.checked ? ownTips : tips;
		if (readTipsSelect.value === "read") {
			tipsToShow = tipsToShow.filter(tip => tip['is_read'] === 1)
		} else if (readTipsSelect.value === "unread") {
			tipsToShow = tipsToShow.filter(tip => tip['is_read'] === 0)
		}

		{% else %}
		let tipsToShow = tips;
		{% endif %}

		let tipsList = document.createElement('div');
		tipsList.setAttribute('id', 'tipsList');

		for (let i = 0; i < tipsToShow.length; i++) {
			let row = document.createElement('div');

			row.className = (i % 2 === 0) ? 'row' : 'row bg-light';

			let a = document.createElement('a'); 
			let linkText = document.createTextNode(tipsToShow[i].url);
			a.appendChild(linkText); 
			a.title = tipsToShow[i].title;
			let prefix = '';
			if (tipsToShow[i].url.substring(0,4) != 'http') {
				prefix += 'https://';
			}
			a.href = prefix + tipsToShow[i].url;
			a.target = '_blank';

			let col8 = document.createElement('div');
			col8.className = "col-8";

			let pLeft = document.createElement('p');
			pLeft.className = 'm-1';

			pLeft.innerHTML = tipsToShow[i].title + ': ';
			pLeft.append(a);
			col8.append(pLeft);
			row.append(col8);

			{% if username != None %}
			let aMarkAsRead = document.createElement('a'); 
			aMarkAsRead.className = 'markAsRead';
			let linkTextMarkAsRead = document.createTextNode(
				( tipsToShow[i].is_read == 1) ? 'Merkitse lukemattomaksi' : 'Merkitse luetuksi'
			);
			aMarkAsRead.appendChild(linkTextMarkAsRead); 
			aMarkAsRead.href = '/toggle/' + tipsToShow[i].id;

			let col4 = document.createElement('div');
			col4.className = "col-4";
			
			let pRight = document.createElement('p');
			pRight.className = 'text-right m-1';

			pRight.innerHTML = '';
			pRight.append(aMarkAsRead);

			if ( tipsToShow[i].is_read == 1 ){
				let markedAsRead = document.createTextNode(' (' + tipsToShow[i].updated + ')');
				pRight.append(markedAsRead);
			}
			col4.append(pRight);
			row.append(col4);

			tipsList.append(row);
			{% endif %}
		}
		tipsWrapper.append(tipsList);
	};
	{% if username != None %}
	ownTipsCheckbox.addEventListener('click', refreshTips);
	{% endif %}
	refreshTips();
</script>
{% endblock %}
