{% extends 'base.html' %}

{% block title %}Hakusivu{% endblock %}

{% block content %}
<header>
	<h2>Hae vinkkejä</h2>
</header>
<div>
	<form action = "/search" method = "POST">
		<div class="form-group" style="width: 50%;">
			<input type="text" class="form-control" name="search_param">
		</div>
		<div style="margin-top: 20px">
			<button type="submit" class="btn btn-primary" id="searchBtn">Hae</button>
		</div>
	</form>
</div>
<div style="margin-top: 40px;">
	<h2>Tulokset</h2>
	<ul class="list-group list-group-flush">
		{% for tip in tips %}
			<li class="list-group-item">{{ tip[0] }}: <a href = //{{ tip[1] }}>{{ tip[1] }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}