<!DOCTYPE html>
<html>
	<head>
		<title>Lukuvinkit - käyttäjän lisäys</title>
	</head>
	<body>
		<header>
			<h2>Luo uusi käyttäjä</h2>
		</header>
		<div style="margin-bottom: 20px">
			<a href="/">Pääsivulle</a>    
		</div>
		<div>
			<form action="/signup" method="post">
				<div>
					<p style="margin-bottom: 1px;"">Käyttäjänimi</p>
					<p style="margin-top: 1px;"><input type="username" name="username" value=""></p>
				</div>
				<div>
					<p style="margin-bottom: 1px">Salasana</p>
					<p style="margin-top: 1px;"><input type="password" name="password1"></p>
				</div>
				<div>
					<p style="margin-bottom: 1px">Salasana uudestaan</p>
					<p style="margin-top: 1px;"><input type="password" name="password2"></p>
				</div>
				<div style="margin-top: 20px">
					<button type="submit" name="submit">Luo käyttäjä</button>
				</div>  
			</form>
		</div>
	</body>
</html>
