name: CI

on:
  push:
    branches: [test]
  pull_request:
    branches: [test]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: coverage run --branch -m pytest
      - name: Coverage XML report
        run: coverage xml
      - name: Coverage report to Codecov
        uses: codecov/codecov-action@v2
      - name: Lint
        run: pylint src