name: CI+CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9.10
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.10
      - name: Install dependencies!
        run: pip install -r requirements.txt
      - name: Run tests
        run: coverage run --branch -m pytest
      - name: Coverage XML report
        run: coverage xml
      - name: Coverage report to Codecov
        uses: codecov/codecov-action@v2
      - name: Lint
        run: pylint --fail-under=2 src
      - name: Heroku deploy
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "lit-brushlands-38911"
          heroku_email: "rami.piik@gmail.com"